ul{
    list-style-type: none;
    margin: 0px;
}
li a{
    display: inline;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
}
li{
    float: left;
    padding-right: 40px;
    margin-left: 30px;
    border-right: solid 1px;
}